body {
    box-sizing: border-box;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo {
    width: 120px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    color: rgb(1,49,63);
    text-align: center;
    margin: 0;
}

button {
    background-color: rgb(1,49,63);
    color: aliceblue;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-top: 35px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    gap: 15px;
}

.codegif {
    border: 5px solid rgb(1,49,63);
    width: 30%;
    height: auto;
}